<!DOCTYPE html>
<html>
    <head>
        <title>Places of Interest Web App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div class="uk-container uk-margin">
            <div class="uk-card-default uk-card-body uk-text-center uk-margin">
                <h2>Places of Interest</h2>
            </div>
            <div class="uk-card-default uk-card-body">
            <form action= "/add" method="POST">
                    <h3>Enter Location Name</h3>
                    <input class="uk-input" type="text" name="name" placeholder="Name">  
                    <h3>Enter Location Description</h3> 
                    <input class="uk-input" type="text" name="description" placeholder="Description">
                    <a class="submit uk-button uk-button-primary uk-margin-medium-top">ADD TO LIST</a>
            </form>
            </div>            
            <div class="uk-card-default uk-card-body uk-margin">
                <h3>{{places.name}}</h3>
                <p>{{places.description}}</p>
            </div>           
        </div>
    </body>
</html>