<div class="uk-card-default uk-card-body">
    <div class= "uk-child-width-expand" uk-grid>
        <div class="uk-width-1-5@m"></div>
        <div class="uk-text-center uk-heading-medium">Places of Interest</div>
        <div class="uk-width-1-5@m">
            <a href="/signup" class ="uk-card-small uk-padding-small">
                <i class="fas fa-user-plus fa-3x" style="color:red" title="Sign Up" pos="bottom" uk-tooltip></i>
            </a>            
            <a href="/loginView" class ="uk-card-small uk-padding-small">
                <i class="fas fa-user-lock fa-3x" style="color:blue" title="Login" pos="bottom" uk-tooltip></i>
            </a>            
        </div>
    </div>
</div>