<!DOCTYPE html>
<html>
    <head>
        <title>Places of Interest Web App</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="uk-container uk-margin">
            <div class="uk-card-default uk-card-body uk-text-center uk-margin">
                <h2>Places of Interest</h2>
            </div>
            <div class="uk-card-default uk-card-body">
            <form class="uk-form-stacked" action="/add" method="POST">
                    <label class="uk-form-label" for="form-stacked-text">Enter Location Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="title" placeholder="Name">  
                    </div>
                    <div class="uk-margin-top">
                    <label class="uk-form-label" for="form-stacked-text">Enter Location Description</label> 
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="description" placeholder="Description">
                    </div>
                    </div>
                    <button class="submit uk-button uk-button-primary uk-margin-medium-top">ADD TO LIST</button>
            </form>
            </div>  
                <div class="uk-card-default uk-margin uk-card-body">  
                    {{places.title}} 
                    {{places.description}} 
                </div>    
        </div>
    </body>
</html>