{{> mainmenu subtitle="Your personal list of places"}}
<div class="uk-margin uk-card uk-flex uk-flex-center">
    <a href="/socialplaces"><button class="uk-button uk-button-primary">SOCIAL</button></a>
    <a href="/places"><button class="uk-button uk-button-primary uk-margin-left">VIEW ALL</button></a>
    <a href="/category"><button class="uk-button uk-button-primary uk-margin-left">VIEW BY CATEGORY</button></a>
</div>
{{#each places}}
{{> placecard personal='personal'}}        
{{/each}}  
