{{> mainmenu subtitle="List of all users places"}}
<div class="uk-margin uk-card uk-flex uk-flex-center">
    <a href="/socialplaces"><button class="uk-button uk-button-primary uk-margin-left">VIEW ALL</button></a>
    <a href="/socialcategory"><button class="uk-button uk-button-primary uk-margin-left">VIEW BY CATEGORY</button></a>
</div>
{{#each places}}
{{> placecard }}
{{/each}}