{{> mainmenu subtitle="List of all users places"}}
<div class="uk-margin uk-card uk-flex uk-flex-center">
    <a href="/places"><button class="uk-button uk-button-primary">PERSONAL</button></a>
</div>
{{#each places}}
{{> placecard }}
{{/each}}